<link rel="stylesheet" href="./card-evento.css">

<div class="card">
    <h1 class="card__texto card__texto--titulo">Título do Evento</h1>
    <p class="card__texto">Breve descrição do evento. Pode ser um parágrafo pequeno.</p>
    <button type="button" class="card__button">Conectar</button>
</div>

<div class="card">
    <h1 class="card__texto card__texto--titulo">Título do Evento</h1>
    <p class="card__texto">Breve descrição do evento. Pode ser um parágrafo pequeno.</p>
    <button type="button" class="card__button card__button--lightgray">Conectar</button>
</div>